.triangle_un {
  width: 0;
  height: 0;
  position: absolute;
  transition: all 2s;
  border-left: 50px solid #d2696a;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 300px;
  left: -19%;
  top: 47%;
}
.triangle_deux {
  width: 0;
  height: 0;
  position: absolute;
  transition: all 2s;
  border-left: 50px solid #7e2b7c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  left: 41%;
  top: 69%;
}
.triangle_trois {
  width: 0;
  height: 0;
  position: absolute;
  transition: all 2s;
  border-left: 70px solid #189184;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  left: 45%;
  top: 35%;
}
.triangle_quatre {
  width: 0;
  height: 0;
  position: absolute;
  transition: all 2s;
  border-left: 100px solid #fbc002;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(180deg);
  left: 42%;
  top: 48%;
}
.triangle_cinq {
  width: 0;
  height: 0;
  position: absolute;
  transition: all 2s;
  border-left: 100px solid #b20000;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(270deg);
  left: 42%;
  top: 69%;
}
.carre {
  position: absolute;
  background-color: #f48400;
  width: 70px;
  height: 70px;
  left: 46%;
  top: 27%;
  z-index: 9;
}
.parallelogramme{
  position: absolute;
  width: 100px;
  height: 50px;
  transform:rotate(-70deg) skew(-45deg);
  left: 44%;
  top: 12%;
  background-color: #d2696a;
}
